.box {
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 2px solid #09aa21;
  border-radius: 15px;

  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
  margin-bottom: 10px;
}

.input {
  border-color: #09aa21;
  padding: 4px 8px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  transition: 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.input:focus,
.input:hover {
  box-shadow: 2px 0px 31px 3px rgba(9, 170, 33, 0.51);
  -webkit-box-shadow: 2px 0px 31px 3px rgba(9, 170, 33, 0.51);
  -moz-box-shadow: 2px 0px 31px 3px rgba(9, 170, 33, 0.51);
}

.btn {
  width: 120px;
  border: 1px solid #09aa21;
  border-radius: 5px;
  color: #09aa21;
  background-color: transparent;

  padding: 2px 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn:hover {
  color: #fff;
  background-color: #09aa21;
}
